@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab:wght@400;700&display=swap');

$font-family-base: 'Josefin Slab', serif;
$white: #fdfdfa;
$purple: #5b64b4;
$pink: #e84a8f;
$grey: #737172;
$light-ping: #e5b4c6;
$black: #2c2c2c;